<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <entityFramework>
    <contexts>
      <context type="NtTracker.Data.DataContext, NtTracker" disableDatabaseInitialization="false" >
        <!-- Remove database initializer with test data -->
        <databaseInitializer xdt:Transform="RemoveAll" type="NtTracker.Data.PopulateTestData, NtTracker" />
        <databaseInitializer xdt:Transform="Insert" type="NtTracker.Data.PopulateData, NtTracker" />
      </context>
    </contexts>
  </entityFramework>
</configuration>
